.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    background-color: #4b4b6f;
    color: #fff;
    z-index: +2;
    border-bottom: 1px solid #31314a; 
    h1 {
        display: inline-block;
        font-size: 1.2rem;
        padding-left: 30px;
        text-shadow: 0px 1px 1px #184a2e;
    }
    .header-navigation {
        float: right;
        height: 50px;
        line-height: 50px;
    }
    .button-log-out {
        display: block;
        background: none;
        color: #FFF;
        padding: 0 20px;
        line-height: 49px;
        cursor: pointer;
        background-color: #535379;
        &:hover {
            background-color: #5e5e88;
        }
    }
} 