/* =================================== */
// Variables
/* =================================== */

/* 
 * Main colors variables
 ===================================== */

/* Main */
$primary-color : #48526d;
$primary-dark : #1e232f;
$secondary-color : #586484;
$secondary-light : #69769a;

/* Grey */
$primary-grey: #666666;
$primary-background : #F1F1F1;
$secondary-grey: #DCDCDC;

/* White */
$primary-white : #FFFFFF;
$secondary-white : #f9f9f9; 

/* Dark */
$primary-dark : #000000;
$secondary-dark : #000000;
