@import 'utils/fonts';
@import 'utils/reset';
@import 'utils/vars';

body {
  font-family: sans-serif;
  font-size: 16px;
  background-color: $primary-background;
}

.esl-app {
  margin-left: 200px;
  margin-top: 50px;
  
  // Utils
  @import 'utils/icons';

  // Base
  @import 'base/layout';

  // Components
  @import 'components/header';
  @import 'components/nav';
  @import 'components/login';
  @import 'components/overview';
  @import 'components/items';
  @import 'components/item';
} 